.lanyard-wrapper {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
  pointer-events: auto;
}

.lanyard-wrapper canvas {
  pointer-events: auto !important;
  touch-action: none;
}
